<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
       <title>EventApp</title>
        <meta charset="UTF-8">
    </head>

    <body>
         <h1>Cadastrar Eventos</h1>

          <form method="POST" id="Id_registerEvent" name="registerEvent">
               Nome: <input type="text" value="" name="nome"/>
               Local: <input type="text" value="" name="local"/>
               Horário: <input type="time" value="" name="horário"/>
               Data <input type="date" value="" name="data"/>
               <button type="submit">Cadastrar</button>
          </form>
    </body>

</html>